@use '@/styles/variables' as *;
@use "@/styles/mixins" as *;

.document-search {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;

  &__input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__input {
    @include focus-visible;

    width: 100%;
    padding: 15px 25px;
    border: 1px solid $color-border-primary;
    border-radius: $border-radius-sm;
    box-sizing: border-box;
    transition: border-color $transition-fast, box-shadow $transition-fast;
    will-change: border-color, box-shadow;

    &::placeholder {
      color: $color-text-muted;
      font-size: $font-size-sm;
      transition: color $transition-fast;
    }

    &:hover {
      border-color: $color-primary;
      box-shadow: 0 0 0 1px rgb(13 110 253 / 10%);
    }

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
      transition: opacity $transition-fast;
    }
  }

  &__loader {
    position: absolute;
    right: 12px;
    pointer-events: none;
  }
}
