@use './fonts';
@use './variables' as *;
@use './animations';

html {
  font-family: $font-family-base;
  line-height: $line-height-normal;
}

body {
  color: $color-text-primary;
  font-size: $font-size-base;
  background-color:$color-bg-primary;
  font-weight: $font-weight-normal
}

/* Typography */
h1, h2, h3 {
  margin: 0;
  line-height: $line-height-tight;
  font-weight: $font-weight-semibold;
}

h1 {
  font-size: $font-size-xl;
  font-weight: $font-weight-semibold;
}

h2 {
  font-size: $font-size-base;
  line-height: $line-height-normal;
}

h3 {
  font-size: $font-size-sm;
}
