
@use '@/styles/variables' as *;
@use "@/styles/mixins" as *;

.document-card {
   display: flex;
   height: 70px;
   border: 1px solid $color-border-secondary;
   background: $color-bg-secondary;
   border-radius: $border-radius-md;
   overflow: hidden;
   transition: border-color $transition-fast, box-shadow $transition-fast, transform $transition-fast;
   cursor: pointer;
   will-change: border-color, box-shadow, transform;

   &:hover {
     border-color: $color-primary;
     box-shadow: $shadow-main;
     transform: translateY(-1px) translateZ(0);
   }

  &__image {
    @include flex-center;

    min-width: 70px;
    min-height: 70px;
    overflow: hidden;

    img {
      width: 70px;
      height: 70px;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    flex-grow: 1;
    border-left: 1px solid $color-border-secondary;
  }

  &__title {
    h3 {
      @include ellipsis-text;

      max-width: 70%;
    }

    margin-bottom: 6px;
  }

  &__size {
    color: $color-text-muted;
    font-size: $font-size-sm;
  }

  &--active {
    border-color: $color-primary;
    box-shadow: 0 0 0 2px rgb(13 110 253 / 20%);

    .document-card__content {
      background: $color-primary;
      color: white;
      transition: background-color $transition-fast, color $transition-fast;
    }

    .document-card__size {
      color: white;
      transition: color $transition-fast;
    }
  }
}
